In [1]:
### Assignment 1: Creating and Connecting to a Database

# 1. Write a Python function to create a new SQLite3 database named `test.db`.

import sqlite3
def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created")

In [2]:
# 2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), 
# `age` (integer), and `department` (text) in the `test.db` database.

def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Employees(
                   id Integer Primary Key,
                   name Text Not Null,
                   age Integer,
                   department Text)
                   ''')
    conn.commit()
    conn.close()
    print("Employees table successfully creates")
create_table()

Employees table successfully creates

In [3]:
### Assignment 2: Inserting Data

# 1. Write a Python function to insert a new employee into the `employees` table.
# 2. Insert at least 5 different employees into the `employees` table.
def insert_data(id,name,age,department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO Employees(id,name,age,department)
                   VALUES(?,?,?,?)
                   ''',(id,name,age,department))
    conn.commit()
    conn.close()
    print("Data inserted successfully")
insert_data(10, 'Alice', 30, 'HR')
insert_data(20, 'Bob', 25, 'Engineering')
insert_data(30, 'Charlie', 28, 'Sales')
insert_data(40, 'David', 35, 'Marketing')
insert_data(50, 'Eve', 22, 'HR')

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [20]:
### Assignment 3: Querying Data

# 1. Write a Python function to fetch and display all records from the `employees` table.
# 2. Write a Python function to fetch and display all employees from a specific department.
print("Displaying all data:\n")
def display_records():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * From Employees')
    rows  = cursor.fetchall()
    for row in rows:
        print(row)
display_records()
print("\nDisplaying data department wise:\n")
def display_records_dept(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * From Employees Where department=?',(department,))
    rows  = cursor.fetchall()
    for row in rows:
        print(row)
display_records_dept('HR')

Displaying all data:

(2, 'Bob', 26, 'Sales')
(3, 'Charlie', 33, 'Sales')
(4, 'David', 41, 'Marketing')
(5, 'Eve', 23, 'HR')
(10, 'Alice', 30, 'HR')
(20, 'Bob', 25, 'Engineering')
(30, 'Charlie', 28, 'Sales')
(40, 'David', 35, 'Marketing')
(50, 'Eve', 23, 'HR')

Displaying data department wise:

(5, 'Eve', 23, 'HR')
(10, 'Alice', 30, 'HR')
(50, 'Eve', 23, 'HR')

In [5]:
### Assignment 4: Updating Data

# 1. Write a Python function to update the department of an employee based on their `id`.
# 2. Update the department of at least 2 employees and display the updated records.

def update_data(employee_id,new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(''' 
        UPDATE Employees
                   set department = ?
                   Where id = ? 
                   ''',(new_department,employee_id))
    conn.commit()
    conn.close()
    print("Data updated successfully")
update_data(1,'Finance')
update_data(2,'Sales')
display_records()

Data updated successfully
Data updated successfully
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Sales')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(10, 'Alice', 30, 'HR')
(20, 'Bob', 25, 'Engineering')
(30, 'Charlie', 28, 'Sales')
(40, 'David', 35, 'Marketing')
(50, 'Eve', 22, 'HR')

In [ ]:
### Assignment 5: Deleting Data

# 1. Write a Python function to delete an employee from the `employees` table based on their `id`.
# 2. Delete at least 1 employee and display the remaining records.
def delete_employee(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        Delete from Employees
                   Where id=?
                   ''',(employee_id,))
    conn.commit()
    conn.close()

delete_employee(1)
display_records()

In [ ]:
### Assignment 6: Advanced Queries

# 1. Write a Python function to fetch and display employees older than a certain age.
# 2. Write a Python function to fetch and display employees whose names start with a specific letter.
def display_employees_older(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from Employees Where age>?',(age,))
    records = cursor.fetchall()
    for record in records:
        print(record)
    conn.close()
display_employees_older(20)
print("Display Employess whose name start with _")
def display_employees_letter(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from Employees where name Like ?',(letter +'%',))
    records = cursor.fetchall()
    for record in records:
        print(record)
    conn.close()
display_employees_letter('a')

In [ ]:
### Assignment 7: Handling Transactions

# 1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. 
# Ensure that if any insertion fails, none of the insertions are committed.

def insert_multiple(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
        Insert into Employees (is,name,age,department)
                           Values(?,?,?,?)
                           ''',(employees,))
        conn.commit()
        print("All data inserted successfully")
    except Exception as e:
        conn.rollback()
        print("Eroor occured: ",e)
    finally:
        conn.close()
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple(employees)

In [19]:
# 2. Write a Python function to update the age of multiple employees in a single transaction. 
# Ensure that if any update fails, none of the updates are committed.
def update_multiple_age(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            Update Employees
                    set age =?
                    where id = ?
                           ''',updates)
        conn.commit()
        print("All details updates")
    except Exception as e:
        conn.rollback()
        print(e)
    finally:
        conn.close()
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 49),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_age(updates)

All details updates